/* Dark mode variables */
.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
  --button-color: #1db954;
  --button-hover-color: #17a84b;
  --header-bg: #1e1e1e;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark-mode .song-card {
  background-color: var(--card-bg);
  color: var(--text-color);
}

body.dark-mode header {
  background-color: var(--header-bg);
  border-bottom-color: var(--button-hover-color);
}

body.dark-mode nav a {
  color: var(--text-color);
}

body.dark-mode button {
  background-color: var(--button-color);
  color: var(--bg-color);
}

body.dark-mode .menu-icon .bar {
  background-color: var(--button-color);
  transition: background-color 0.3s ease;
}

body.dark-mode .song-card {
  background-color: var(--header-bg);
  border-color: (#333);
  color: var(--text-color);
}

body.dark-mode .song-card p {
  color: var(--text-color);
}

body.dark-mode footer {
  background-color: var(--header-bg);
  border-top-color: var(--button-hover-color);
}

/* Dark mode toggle styling */
.toggle {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.toggle + label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: #999;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle + label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle:checked + label {
  background: #666;
}

.toggle:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.toggle + label:active:after {
  width: 25px;
}

.dark-mode-toggle {
  margin-left: 1.5rem;
  margin-right: 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 60px;
  }
}
